pagination {
    border-top: 1px dotted #888888;
    padding-top: 1em;
}
#pagination li {
    float: left;
    display: block;
    height: 1.3em;
    width: 1.3em;
    line-height: 1.3em;
    text-align: center;
}
#pagination li.last_page {
    width: 3em;
}
#pagination li.current-page {
    background-color: #ddd;
}
#pagination li a {
    text-decoration: underline;
}